<div class="sidebar">
    <div class="logo_content">
        <div class="logo">
            <i class="bx bxl-c-plus-plus"></i>
            <div class="logo_name">Ekinoks</div>
        </div>
    </div>
    <i class="bx bx-menu" id="btn" (click)="showToggle()"></i>
    <ul class="nav_list">
        <li [class.active]="activeMenu === 'dashboard'" (click)="goToMenu('dashboard')">
            <a>
                <i class="bx bx-grid-alt"></i>
                <span class="links_name">Dashboard</span>
            </a>
            <!-- <span class="">Dashboard</span> -->
        </li>
        <li [class.active]="activeMenu === 'user'" (click)="goToMenu('user')">
            <a>
                <i class="bx bx-user"></i>
                <span class="links_name">User</span>
            </a>
            <!-- <span class="">User</span> -->
        </li>
        <li>
            <a href="#">
                <i class="bx bx-cart-alt"></i>
                <span class="links_name">Order</span>
            </a>
            <!-- <span class="">Order</span> -->
        </li>
        
       
    </ul>
    <div class="profile_content">
        <div class="profile">
            <div class="profile_details">
                <img src="https://lh3.googleusercontent.com/a-/AOh14GjvKOdrR_Z-N4oaIqPg10NRav_6D9tiKWHNFXXftQ=s288-p-rw-no"
                    alt="">
                <div class="name_job">
                    <div class="name">Serif Sadi Senkule</div>
                    <div class="job">Software Developer</div>
                </div>
            </div>
            <i class="bx bx-log-out" id="log_out"></i>
        </div>
    </div>
</div>

<div class="home_content">
    <router-outlet></router-outlet>
</div>